<!DOCTYPE html>
<html ng-app="app">
  <head>
    <script src="../common/lib/jquery-1.11.1.min.js"></script>
    <script src= "lib/angular.js"></script>

    <script src= "../common/js/base.js"></script>
    <script src= "../common/js/list.js"></script>

    <link rel="stylesheet" href="../common/css/app.css" />
    <script src = "js/app.js"></script>
  </head>

<body ng-controller="main">
    <div class="header">
      <div class="index">
        <span>Index</span>
      </div>

      <div class="sorts">
        <h4 class="sort-column" ng-class="sortCss('name')">
          <span class="sort-text" ng-click="changeSort('name')">Name</span>
        </h4>
        <h4 class="sort-column" ng-class="sortCss('size')">
          <span class="sort-text" ng-click="changeSort('size')">Size</span>
        </h4>
        <h4 class="sort-column" ng-class="sortCss('date')">
          <span class="sort-text" ng-click="changeSort('date')">Date</span>
        </h4>
      </div>

      <div class="modify-count">
        <span class="label">Items in list</span>
        <input type="number" ng-model="inputModels.itemsCount">
      </div>
    </div>

    <div class="offset item-list-offset" ng-style="{'height': offsetTop()}"></div>

    <table class="item-list">
      <tbody>
        <tr ng-repeat="item in visibleItems()">
          <td class="index">{{$index + startRow}}</td>
          <td class="name">{{item.name}}</td>
          <td class="size">{{item.size}}</td>
          <td class="date">{{item.date}}</td>
        </tr>
      </tbody>
    </table>

    <div class="offset" ng-style="{'height': offsetBottom()}"></div>

</body>
</html>